[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
*.booproj
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
sysinfo.txt
*.pdb
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.dll
!Assets/**/*.dll
.DS_Store
.vs/
ExportedObj/
.consulo/
*.cscope
*.pidb.meta
*.pdb.meta
*.mdb.meta
crashlytics-build.properties
Assets/AddressableAssetsData/*/*.bin*
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*
UserSettings/

